# Python cache
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/
*.whl

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variable files
.env
.env.*

# Telegram bot specific
config.ini
bot_session*

# Ignore task file
task.ipynb